<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>insta485</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <div class="insta">
            <div class="left">
                <a href="/" class="logo">
                    <img src="/static/images/logo.png" alt="logo">
                </a>
                <h2><a href="/" class="logo">Insta485</a></h2>
            </div>
            <div class="right">
                <a class="insta" href="/explore/">Explore</a>
                <a href="/users/{{logname}}/">{{logname}}</a>
            </div>
        </div>
    </header>
    <div>
        <h2>Discover People</h2>
        {% for notfollow in expo_users %}
        <div class="insta">
            <div class="left">
                <a href="/users/{{notfollow.username}}/">
                    <img class="profile" src="{{notfollow.user_img_url}}"
                        alt="{{notfollow.username}} profile picture">
                    <b>{{notfollow.username}}</b>
                </a>
                <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
                <form action="/following/?target={{request.path}}" method="post" enctype="multipart/form-data">
                    <input type="submit" name="follow" value="follow" />
                    <input type="hidden" name="username" value="{{notfollow.username}}" />
                    <input type="hidden" name="operation" value="follow" />
                </form>
  
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>