<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>insta485</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <div class="insta">
            <div class="left">
                <a href="/" class="logo">
                    <img src="/static/images/logo.png" alt="logo">
                </a>
                <h2><a href="/" class="logo">Insta485</a></h2>
            </div>
        </div>
    </header>
    <main>
        <!-- DO NOT CHANGE THIS -->
        <form action="/account/?target={{ request.path }}" method="post" enctype="multipart/form-data">
            <input type="password" name="password" required/>
            <input type="password" name="new_password1" required/>
            <input type="password" name="new_password2" required/>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form>
  
        <a href="/accounts/edit/">Back to edit account</a>
    </main>
</body>

</html>