<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>insta485</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <div class="insta">
            <div class="left">
                <a href="/" class="logo">
                    <img src="/static/images/logo.png" alt="logo">
                </a>
                <h2><a href="/" class="logo">Insta485</a></h2>
            </div>
            <div class="right">
                <a class="insta" href="/explore/">Explore</a>
                <a href="/users/{{logname}}/">{{logname}}</a>
            </div>
        </div>
    </header>
    <article>
        <header>
            <div class="insta">
                <div class="left">
                    <a href="/users/{{logname}}/">
                        <img class="profile" src="{{owner_img_url}}" alt="{{logname}} profile picture">
                    </a>
                    <a href="/users/{{logname}}/"><b>{{logname}}</b></a>
                </div>
                <a href="/posts/{{postid}}/">{{timestamp}}</a>
            </div>
        </header>
        <img src="{{img_url}}" alt="Post {{postid}}">
        <footer>
            {% if likes == 1 %} <p>{{likes }} like</p>
            {% else %}
            <p>{{likes }} likes</p>
            {% endif %}

            {% for comment in comments %}
            <p><a href="/users/{{comment.owner}}/">
                    <b>{{comment.owner}}</b>
                </a> {{comment.text}}</p>
            {% if logname == comment.owner %}
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="<FIXME_COMMENTS_URL_HERE>?target=<FIXME_CURRENT_PAGE_URL_HERE>" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="delete"/>
                <input type="hidden" name="commentid" value="<FIXME_COMMENT_ID_HERE>"/>
                <input type="submit" name="uncomment" value="delete"/>
            </form>
            {% endif  %}
            {% endfor %}
            {% if liked_by_user %}
            <form action="/likes/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="unlike">
                <input type="hidden" name="postid" value="{{ postid }}">
                <input type="submit" value="Unlike">
            </form>
            {% else %}
            <form action="/likes/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="like">
                <input type="hidden" name="postid" value="{{ postid }}">
                <input type="submit" value="Like">
            </form>
            {% endif %}

            <form action="/comments/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="create">
                <input type="hidden" name="postid" value="{{ postid }}">
                <input type="text" name="text" required>
                <input type="submit" value="Comment">
            </form>
            {% if logname == owner %}
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="<FIXME_POSTS_URL_HERE>?target=<FIXME_LOGGED_IN_USER_PAGE_URL_HERE>" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="delete"/>
                <input type="hidden" name="postid" value="<FIXME_POST_ID_HERE>"/>
                <input type="submit" name="delete" value="delete this post"/>
            </form>
            {% endif  %}
        </footer>
    </article>
</body>

</html>